Port {{ ssh_port }}

Protocol 2

PermitRootLogin {{ ssh_permit_root_login }}

PasswordAuthentication {{ ssh_password_authentication }}

ChallengeResponseAuthentication no

UsePAM yes

PubkeyAuthentication {{ ssh_pubkey_authentication }}

X11Forwarding no

AllowTcpForwarding no

PermitEmptyPasswords no

MaxAuthTries {{ ssh_max_auth_tries }}

LoginGraceTime 30

ClientAliveInterval {{ ssh_client_alive_interval }}

ClientAliveCountMax {{ ssh_client_alive_count_max }}